body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

#contador {
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1em;
    color: #333;
}

#category {
    font-size: 1em;
    margin-top: 20px;
}

#word {
    font-size: 2em;
    margin-top: 20px;
}

#game {
    margin: 20px;
}

.options {
    display: flex;
    justify-content: center;
}

.option {
    background-color: #333;
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #555;
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

#answer {
    font-size: 1.5em;
    margin-top: 20px;
}

table {
    width: 30%;
    border-collapse: collapse;
    margin: 20px auto; /* Cambiar a auto para centrar la tabla */
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}